@mixin flex($justify-content: null, $align-items: null) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin card-base {
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0,0,0,.08);
}
