@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.footer {
    height: 15vh;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
    gap: 15px;
    @include m.flex(none, center)
}


.footer__links {
    @include m.flex;
    gap: 15px
}

.footer__links_texto {
    font-weight: 700;
    text-decoration: underline;
}