@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.paquetes {
    background-color: v.$color-secundario-dark;
    padding: 50px;
}

.paquetes__contenedor_card {
    @include m.flex(space-around, center)

}

.paquetes__titulo {
    text-align: center;
    margin-bottom:  75px;
    color: v.$color-texto;
}